/*Header Section*/
#logo{
  padding: 34px 123px 20px 0;
  float: left;
}

#head{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #133670;
  line-height: 35px;
  padding: 40px 0 14px 86px;
}

.yellow{
  color: #f6c621;
}

.navbar-defult{
  background: #f6c621;
}
#navbar{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 16px;
  background: #f6c621;
}
#navbar a{
  text-decoration: none;
  color: #133670;
}
#navbar li{
  margin-right: 35px;
}
