body{
  background: #fff;
}

.container{
  background: #fff;
  width: 940px;
  margin: auto;
}

/*Header Section*/
.logo{
  padding: 34px 0 10px 0;
  float: left;
}


#head{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #133670;
  line-height: 35px;
  padding: 40px 0 0px 0;
  text-align: right;
}

.yellow{
  color: #f6c621;
}

/*Navigation*/

#nav{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 18px;
  background: #f6c621;
  height: 32px;

}
#nav a{
  text-decoration: none;
  color: #133670;
}
#nav li{
  margin-right: 25px;
  display: inline;
}

/*yellow content*/

.yellow-bg{
  width: 100%;
  min-width: 940px;
  background: #f6c621;
  margin: auto;
  text-align: center;

}

/* Body Text */

.body-text{
  color: #133670;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  width: 900px;
  padding-left: 40px;
}

.body-text img{
  margin-right: 05px;
}

.signiture{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

.about-images{
  width: 300px;
  display: inline-block;
  margin: 0 70px;
  vertical-align: top;
}

.about-images span{
  font-size: 13px;
}

/*Footer */

footer{
  background: #fff;
  width: 100%;
  min-width: 940px;
  margin: auto;

}

.footer-container{
  width: 100%;
  min-width: 940px;
  background: #133670;
  margin: auto;
  color: #fff;
  padding: 15px 0 15px 0;
  text-align: center;

}

.footer-section{
  background: #133670;
  width: 180px;
  display: inline-block;
  vertical-align: text-top;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  text-align: left;
}

.company-info{
  color: #133670;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  line-height: 25px;
}
